{% load static %}
input[type=text] {
	color: #000;
	height: 30px;
	width: 300px;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid #e1e8ed;
	padding: 5px;
}
input[type=password] {
	color: #000;
	height: 30px;
	width: 300px;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid #e1e8ed;
	padding: 5px;
}


input:focus {
	outline: none;
	border-color: #CD704B;
}

