<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

	<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

	<style>

	</style>
</head>
<body>
	<!-- <h1>Create a Wishlist</h1>

	<form action="{% url 'WishListApp:wishlist' wishlist_name %}" method="post">
	{% csrf_token %}
	Name:<br>
	<input type="text" name="name"> 
	<br><br>
	<input type="submit" value="submit">
	</form> -->

</body>

</html>