<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

		<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

		<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

		<script type="text/javascript"> 
			var json_images = {{ json_images|safe }};
			var images = {{ images|safe }};
		</script>

		<script type="text/javascript" src="{% static 'WishListApp/js/additem.js' %}"> </script>

	</head>
	<body>

	<div class="menu-container">
		<div class="menu-style"></div>
		<div class="menu">
			<div class="user-search-bar">
				<input type="text" name="user-search" 
				value=" Search users by phone number or email" 
				onfocus="this.value=''" 
				onblur="this.value= ' Search users by phone number or email' ">
				<!-- style="visibility: hidden;" -->
				<input type="submit" name="user-search-submit">
			</div>
			<div class="home-logo">
				<a href="{% url 'WishListApp:index' %}">A</a>
			</div>
		</div>
	</div>

		<br><br>
		<!-- Title: {{name}} -->
		<br><br>

		<div class="images-title">Choose an image to add an item to your Kado</div>
		<div class="page-images-wrapper">
			<div class="page-images">
				{%for image in images%}
				<div class="page-img">
					<!-- Trigger/Open the modal -->
					<img src="{{ image }}" /> 
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- the modal -->
		<div class="add-item-modal">
			<!-- modal content -->
			<div class="add-item-modal-content">
				<span class="close">x</span>
				<h2>add item</h2>
				<img src="" />
			</div>
		</div>

		<button id="test">click me</button>

	</body>
</html>