<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

		<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

		<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

		<script type="text/javascript"> 
			var json_images = {{ json_images|safe }};
			var images = {{ images|safe }};
		</script>

		<script type="text/javascript" src="{% static 'WishListApp/js/additem.js' %}"> </script>

	</head>
	<body>

	<div class="menu-container">
		<div class="menu-style"></div>
		<div class="menu menu-add-item">
			<div class="user-search-bar">
				<form method="post" action="{% url 'WishListApp:finduser' user.id wishlist.id %}" enctype="multipart/form-data">
				{% csrf_token %}
				<span style="color:red">{{error_msg}}</span>
				<input type="text" name="user-search" 
				value="Search users by email" 
				onfocus="this.value=''" 
				onblur="this.value= 'Search users by email' ">
				<!-- style="visibility: hidden;" -->
				<button type="submit" class="button button-green">Go</button>
				</form>
			</div>
			<div class="home-logo">
				<a href="{% url 'WishListApp:index' %}">KADO</a>
			</div>
		</div>
	</div>

		<br><br>
		<!-- Title: {{name}} -->
		<br><br>

		<div class="images-title">Choose an image to add an item to your Kado</div>
		<div class="page-images-wrapper">
			<div class="page-images">
				{%for image in images%}
				<div class="page-img">
					<!-- Trigger/Open the modal -->
					<img src="{{ image }}" /> 
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- the modal -->
		<div class="modal">
			<!-- modal content -->
			<div class="modal-content">
				<span class="close">x</span>
				<div class="item-container">
					<img src="" /> 
					<form action="{% url 'WishListApp:additem' user.id wishlist.id %}" method="post" id="add_item_form">
						{% csrf_token %}
						Item Title:
						<input type="text" name="title" value="{{title}}"></input>
						<input type="text" name="store" value="{{store}}" style="display:none"></input> 
						<br><br>
						<textarea rows="5" cols="40" type="text" name="description">{{description}}</textarea>
						<input type="text" name="img_url" value="" id="input_img_url" style="display:none"></input>
						<input type="text" name="item_url" value="{{item_url}}" id="item_url" style="display:none"></input>
						<br><br>
						<input type="submit" name="submit-item" value="Add to Kado!"></input>
					</form>
				</div>
			</div>
		</div>

<!-- 		<button id="test">click me</button> -->
	</body>
</html>