<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

<!-- 	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'> -->

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>

	<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

	<!-- used for numbers on home page -->
	<link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>

</head>
<body>

	<div class="menu-container">

	<div class="menu-style menu-style-dark"></div>
<!-- 
	<div class="dropdown-container">
		<div class="dropdown">
  		<button class="dropbtn">KADO</button>
 	 		<div class="dropdown-content">
    		<a href="{% url 'WishListApp:index' %}">HOME</a>
    		<a href="{% url 'WishListApp:give' %}">GI<div class="kado-font">V</div>E</a>
    		<a href="#">HOW <div class="kado-font">A</div> WORKS</a>
    		<a href="#">ABOUT US</a>
    		<a href="#">BLOG</a>
    		<a href="#">CONTACT US</a>
  		</div>
		</div>
	</div> -->

	<span class="kado-title">KADO</span>

	<div class="header-text">
		<ul>
<!-- 			<li>
				<a href="{% url 'WishListApp:signup' %}">SIGN UP</a>
			</li> -->
			<li>
				Have an account?
			</li>
			<li>
				<a href="{% url 'WishListApp:login' %}">LOG IN</a>
			</li>
		</ul>
	</div>

	</div>
	
	<div class="title-wrapper">
		<div class="title">
			<!-- <h1>KADO</h1> -->

			<div class="cta">

				<div>
					<h2>
						Gi<div class="kado-font-lower">V</div>e great gifts.
						<br/>
						Get gifts you w<div class="kado-font-lower">A</div>nt.
						<br/>
					</h2>
					<br/>
					Create one wishlist of items from around the web and easily share with friends and family.
				</div>

				<div class="signup-btn">
				<a href="{% url 'WishListApp:signup' %}">SIGN UP</a>
				<!-- <a href="{% url 'WishListApp:signup' %}">GI<div class="kado-font">V</div>E A GIFT</a> -->
				</div>

			</div>

			<!-- <div>Don't know what gift to give someone?</div>
			<div> <div class="kado-font">Kado</div> can help.</div> -->
			<!-- <img src="{% static 'WishListApp/images/bow.png' %}"/> -->
		</div>
		<div class="title-overlay"></div>
	</div>
<!-- 	<div class="gift-image-container">
		<div class="gift-image">
		<img src="{% static 'WishListApp/images/present-icon.png' %}"/>
		</div>
	</div> -->

<!-- 	<div class="works-title">
		HOW <div class="kado-A">A</div> WORKS
	</div>

	<div class="works-container">
		
		<div class="works-panel">
			<div class="works-num">
				1
			</div>
			<span class="works-item">
			Make an account where  you can W<div class="kado-font">A</div>NT items from around the web.
			</span>
		</div>

		<div class="works-panel">
			<div class="works-num">
				2
			</div>
			<span class="works-item">
			Friends, family, coworkers, ect. can access your W<div class="kado-font">A</div>NT list using your email or phone number.
			</span>
		</div>

		<div class="works-panel">
			<div class="works-num">
				3
			</div>
			<span class="works-item">
				If they choose to GI<div class="kado-font">V</div>E, we will package and deliver to you. Surprise!
			</span>
		</div>

	</div> -->

	<div class="space"></div>

	

</body>
</html>