<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Kado: Log in</title>

    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- rename file to login and change that here -->
    <link href="{% static 'WishListApp/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'WishListApp/css/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">
<!-- <div class="title-overlay"></div> -->
      <div class="site-wrapper-inner">

        <div class="cover-container">

     <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{% url 'WishListApp:index' %}">KADO</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'WishListApp:index' %}">Home</a></li>
                  <!-- <li><a href="#">About</a></li> -->
                  <li class="active"><a href="{% url 'WishListApp:search' %}">Search</a></li>
                  <li><a href="{% url 'WishListApp:login' %}">Log In</a></li>
                </ul>
              </nav>
            </div>
          </div>
      <div class="inner cover">
      <form action="{% url 'WishListApp:searchUserByEmail' %}" method="post" class="form-search-user">
      {% csrf_token %} 
        <input type="text" name="email" class="form-control" placeholder="Search by email...">
        <button class="btn btn-default" type="submit">Go!</button>
      </form>
      <p> {{error_msg}} </p> 
      </div>
         </div>

      </div>

    </div>
