<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

	<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

	<!-- <script type="text/javascript" src="{% static 'WishListApp/js/user.js' %}"> </script> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<script type="text/javascript" src="{% static 'WishListApp/js/user.js' %}"> </script>


</head>
<body>

	<div class="menu-container">
		<div class="menu-style"></div>
		<div class="menu">
			<div class="user-search-bar">
				<input type="text" name="user-search" 
				value=" Search users by email" 
				onfocus="this.value=''" 
				onblur="this.value= ' Search users by email' ">
				<!-- style="visibility: hidden;" -->
				<button type="submit" class="button button-green">Go</button>
			</div>
			<div class="home-logo">
				<a href="{% url 'WishListApp:index' %}">KADO</a>
			</div>
		</div>
	</div>

	</div>

	<!-- <div class="user-header-wrapper"> -->
		<div class="user-header-wrapper">
			<div class="user-header">
				{% if kado_user.avatar %} 
				<img src="{{kado_user.avatar.url}}">
				{% else %}
				<img src="{% static 'WishListApp/images/photo-camera.png' %}"> 
				{% endif %}
				<h1>{{user.first_name}} {{user.last_name}}</h1>
				{% if current_user == user %}
				<div class="user-buttons">
					<a class="button" href="{% url 'WishListApp:editinfo' user.id wishlist.id %}">Edit Profile</a>
					
					<a class="button button-red" href="{% url 'WishListApp:logout' %}">Log out</a>
					
				{% endif %}
				</div>
			</div>
		</div>
	<br>

	<!-- <div class="wishlist-wrapper"> -->
		<div class="wishlist">
<!-- 		logged in as: {{current_user.first_name}} <br/>
		This prof belongs to: {{user.first_name}} -->
		{% if current_user == user %}
			<div class="wishlist-add-item">
					<h3>Add an item to your wishlist.</h3>
					<form id="addItemForm" method="post" action="{% url 'WishListApp:edititem' user.id wishlist.id %}" enctype="multipart/form-data">
						{% csrf_token %}
						url:<br>
						<input type="url" name="url">
						<button type="submit" class="button button-green"> Add Item</button>
						<br>
						{{error_msg}}
					</form>
			</div>
		{% endif %}
		{% for item in wishlist_items %}
			<div class="wishlist-item">
				<a href="{{item.url}}" target="_blank"> <img src="{{item.image}}" >
				<span>{{ item.name }}</span>
				</a>
			</div>
		{% endfor %}
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		
		</div>
	</div>
	<!-- </div> -->
<!-- {{wishlist.id}} -->

<div class="footer">

<div>Icons made by <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>

</body>

</html>







