<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- Kado font -->
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

<!-- 	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'> -->

	<!-- <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,300,500,700,800,900' rel='stylesheet' type='text/css'> -->

	<link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

	<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

	<!-- <script type="text/javascript" src="{% static 'WishListApp/js/user.js' %}"> </script> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<script type="text/javascript" src="{% static 'WishListApp/js/user.js' %}"> </script>

</head>
<body>

	<div class="menu-container">
		<div class="menu-style"></div>
		<div class="menu">
			<div class="user-search-bar">
				<form method="post" action="{% url 'WishListApp:finduser' user.id wishlist.id %}" enctype="multipart/form-data">
				{% csrf_token %}
				<span style="color:red">{{error_msg}}</span>
				<input type="text" name="user-search" 
				value="Search users by email" 
				onfocus="this.value=''" 
				onblur="this.value= 'Search users by email' ">
				<!-- style="visibility: hidden;" -->
				<button type="submit" class="button button-green">Go</button>
				</form>
			</div>
			<div class="home-logo">
				<a href="{% url 'WishListApp:index' %}">KADO</a>
			</div>
		</div>
	</div>

	<!-- </div> -->

	<!-- <div class="user-header-wrapper"> -->
		<div class="user-header-wrapper">
			<div class="user-header">
				{% if kado_user.avatar %} 
				<img src="{{kado_user.avatar.url}}">
				{% else %}
				<img src="{% static 'WishListApp/images/photo-camera.png' %}"> 
				{% endif %}
				<h1>{{user.first_name}} {{user.last_name}}</h1>
				{% if current_user == user %}
				<div class="user-buttons">
					<a class="button" href="{% url 'WishListApp:editinfo' user.id wishlist.id %}">Edit Profile</a>
					
					<a class="button button-red" href="{% url 'WishListApp:logout' %}">Log out</a>
					
				{% endif %}
				</div>
			</div>
		</div>
	<br>

	<!-- <div class="wishlist-wrapper"> -->
		<div class="wishlist">
<!-- 		logged in as: {{current_user.first_name}} <br/>
		This prof belongs to: {{user.first_name}} -->
		{% if current_user == user %}
			<div class="wishlist-add-item-container">
				<div class="wishlist-add-item">
					<h3>Add an item to your wishlist.</h3>
					<form id="addItemForm" method="post" action="{% url 'WishListApp:edititem' user.id wishlist.id %}" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="url" name="url" placeholder= "Enter a url.">
						<button type="submit" class="button button-green button-additem">Continue</button>
					</form>
				</div>
			</div>
		{% endif %}
		{% for item in wishlist_items reversed%}
			<div class="wishlist-item">
				{% if current_user == user %}
				<form method="post" action="{% url 'WishListApp:deleteitem' item.id %}">
					{% csrf_token %}
					<button class="button-icon button-remove"></button>
				</form>
				<button class="button-icon button-edit"></button>
				<!-- DON'T MOVE FOLLOWING LINE -->
				<div class="item-id" style="display:none;">{{item.id}}</div>
				{% endif %}
				
				<a href="{{item.url}}" target="_blank"> <img src="{{item.image}}" >
				</a>
				<div class="item-store item-content">{{ item.store }}</div>
				
				<div class="item-content">{{ item.name }}</div>
				<div class="item-content">{{ item.product_description }}</div>
				
				<div class="wishlist-item-overlay"></div>
			</div>
		{% endfor %}
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		<div class="wishlist-item-empty"></div>
		
		</div>
	</div>
	<!-- </div> -->
<!-- {{wishlist.id}} -->

			<!-- the modal -->
			<div class="modal">
				<!-- modal content -->
				<div class="modal-content">
					<div class="item-container">
						<h3>Edit Item</h3>
						<button class="button-icon button-x"></button>
						<form id="form-edit-item" method="post" action="">
							{% csrf_token %}
							{{edit_item_form.as_p}}
							<input type="submit" class="button button-green" value="Done"></input>
						</form>
					</div>
					<div class="item-container">
						<img src="" /> 
						<p></p>
					</div>
				</div>
			</div>
			<!-- end modal -->


<div class="footer">

{% if not kado_user.avatar %} 

<div>Icons made by <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

{% endif %}

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>

</body>

</html>







