<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

	<link href="{% static 'WishListApp/css/styles.css' %}" rel="stylesheet">

</head>
<body>

	<div class="menu-container">
		<div class="menu-style"></div>
		<div class="menu">
			<div class="user-search-bar">
				<input type="text" name="user-search" 
				value=" Search users by phone number or email" 
				onfocus="this.value=''" 
				onblur="this.value= ' Search users by phone number or email' ">
				<!-- style="visibility: hidden;" -->
				<input type="submit" name="user-search-submit">
			</div>
			<div class="home-logo">
				<a href="{% url 'WishListApp:index' %}">A</a>
			</div>
		</div>
	</div>

	</div>

	<!-- <div class="user-header-wrapper"> -->
		<div class="user-header">
			{% if current_user == user %}
			<a href="{% url 'WishListApp:editinfo' user.id wishlist.id %}">
				Edit Profile</a>
			{% endif %}
			<div>
			{% if kado_user.avatar %} <img src="{{kado_user.avatar.url}}"> {% endif %}
			<h1>{{user.first_name}} {{user.last_name}}</h1>
			</div>
		</div>
	<!-- </div> -->
	<br>

	<div class="wishlist-wrapper">
		<div class="wishlist">
<!-- 		logged in as: {{current_user.first_name}} <br/>
		This prof belongs to: {{user.first_name}} -->
		{% if current_user == user %}
			<div class="wishlist-add-item">
					<h3>Add an item to your wishlist.</h3>
					<form id="addItemForm" method="post" action="{% url 'WishListApp:edititem' user.id wishlist.id %}" enctype="multipart/form-data">
				<!-- 	<form action="{% url 'WishListApp:edititem' user.id wishlist.id %}" method="post"> -->
					<!-- <fieldset id="add-item-fieldset"> -->
						{% csrf_token %}
<!-- 						name:<br>
						<input type="text" name="name">
						<br> -->
						url:<br>
						<input type="url" name="url">
						<br>
<!-- 						image url:<br>
						<input type="url" name="image">
						<br><br> -->
						<input type="submit" name="submit">
						<br>
						{{error_msg}}
					<!-- </fieldset> -->
					</form>
			</div>
		{% endif %}
		{% for item in wishlist_items %}
			<div class="wishlist-items">
				<a href="{{item.url}}" target="_blank"> <img src="{{item.image}}" ></a>
				<span>{{ item.name }}</span>
			</div>
		{% endfor %}
		<div class="wishlist-items-empty"></div>
		<div class="wishlist-items-empty"></div>
		<div class="wishlist-items-empty"></div>
		<div class="wishlist-items-empty"></div>

		</div>
	</div>
	</div>
<!-- {{wishlist.id}} -->
</body>

</html>







